$color-background: #030404;
$color-text-dark-primary: #030404;
$color-text-dark-secondary: #43443e;
$color-text-light-primary: #c5c4ae;
$color-text-light-secondary: #daccae;

$font-family-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$width-gutter: 24px;
$width-screen-extra-small-maximum: 767px;
$width-screen-small-minimum: $width-screen-extra-small-maximum + 1;
