.header {
  background: #000;
  padding: 64px 0;
  position: relative;
  box-shadow: 0 0 50px 0px rgba(51 72 70 / 40%);

  &-heading {
    display: block;
    max-width: 640px;
    margin: auto;
    background-image: url(../images/artwork.jpg);
    background-size: cover;
    background-position: center;
    font-size: 0;
  
    &::after{
      content: '';
      display: block;
      padding-top: 100%;
    }

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }
}