.list-group-element {
  color: $color-text-light-primary;
  display: block;
  font-size: 0.9rem;
  line-height: 1.7;
  padding: 24px 0;
  position: relative;

  &-heading {
    font-size: 1.5rem;
  }
  &-footer {
    margin: 8px 0;
  }

  &-images {
    margin-top: 8px;

    &-element {
      border-radius: 50%;

      & + & {
        margin-left: 4px;
      }
    }
  }
}
